<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About NodeJS</title>
    <style>
        body {
            color: #fff;
            background: gray;
            text-align: center;
            padding-top: 100px;
        }
        a {
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>ABOUT PAGE</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid perspiciatis magni harum, velit debitis dicta esse minus sequi, similique accusantium. Modi distinctio assumenda cupiditate obcaecati sequi? Illo, dicta labore!</p>
    <br/>
    <a href="/">HOME</a>
</body>
</html>